/*img {
    position: center;
    width: 200px;
    height: 200px;
    left: 90px;  posiciona a 90px para a esquerda  
    top: 10px;  posiciona a10 para baixo 
    
}*/

*{
    margin: 0;
    padding: 0;
}

img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        /* position:relative; */
		/* left:20%;
		top:60%; 
    	margin-left:-110px;
		margin-top: -110px; */
}
p{

    line-height: 20px;
    text-align: justify;

}
h1{

    font-size: 24px;
    color: #410564;
    text-transform: uppercase;

}

body{
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    background-color: rgb(224, 218, 240);
    color: #333333;

    font-size: 12px;

}

.FUNDO {
    margin: 0px;
    padding: 0px;
    position: relative;
    font: normal 30px sans-serif;
    color: #fff;
    background-color: rgb(60, 51, 85);
    height: 300px;
    width: 100%;
}
.CIMA {
    display: block;
    text-align: center;
    /* position: absolute;
    left: 25px;
    top: 25px; */
}
.BAIXO {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: .85rem;
    /* position: absolute;
    right: 25px;
    bottom: 25px; */
}